{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">{{ category.name }}</h1>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if product.image %}
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                        <img class="card-img-top" src="https://via.placeholder.com/150" alt="{{ product.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="text-muted">{{ product.price }} FCFA</span>
                            <a href="{% url 'product_detail' slug=product.slug %}" class="btn btn-primary">Voir Détails</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
